body {
    font-family: -apple-system, Roboto, "Microsoft JhengHei", Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
