.c-title {
    display: flex;
    align-items: center;

    &__ico {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;

        &--addCircle {
            background-image: url(../../images/icon/add-circle.svg);
        }
    }

    &__ico + &__txt {
        margin-left: 6px;
    }

    &__txt {
        color: #00807e;
        font-size: 24px;
        font-weight: bold;
    }

    &--underline {
        border-bottom: 2px solid #00807e;
    }
}

.l-title {
    margin-bottom: 32px;
}
